body {
    background: #f3f3f3;
}

h1 {
    text-align: center;
    color: #ebd8d9;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}
form{
    text-align: center;
}
input{
    margin: 0 auto;
    width: 500px;
    height: 50px;
    border: none;
    text-align: center;
}
li{
    text-align: center;
    color: #adadad;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
}
button{
    height: 50px;
}
ul {
  cursor: pointer;
  list-style: none;
  width: 540px;
  text-align: center;
  margin-left: 368px;
  margin-top: 2px;
}
li {
  background: #fff;
  height: 50px;
  margin: 0;
  color: #666;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
#tareas {
    position: relative;
    margin-right: -450px;
}
